@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  background: #212529;
}
.transition-height {
  transition: height 0.3s ease-in-out;
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #909090;
  border: 0px none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

::-webkit-scrollbar-thumb:active {
  background: #909090;
}

::-webkit-scrollbar-track {
  background:transparent;
  border: 0px none #ffffff;
  border-radius: 100px;
}

::-webkit-scrollbar-track:hover {
  background: transparent;
}

::-webkit-scrollbar-track:active {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
th {
  white-space: nowrap;
  /* Prevent text wrapping */
  min-width: 100px;
  /* Ensure a minimum width */
}


select > option {
  text-transform: capitalize;
  /* Preserve whitespace */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}